# --- Required packages ---
Django==4.2.23
asgiref==3.8.1
sqlparse==0.5.3

# --- Optional packages ---

# Needed if using timezone support with USE_TZ=True and not on Python 3.9+
# backports.zoneinfo==0.2.1

# Needed if using PostgreSQL instead of SQLite
# psycopg2-binary==2.9.9

# Needed if you're loading secrets or env vars from a .env file
# python-dotenv==0.21.0
