<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Round {{round.id}}</title>
</head>
<body>
  <h1>Here is your Round {{round.id}} info on {{round.date}}</h1><br>
  <table style="border-collapse: collapse; width: 100%; text-align: center; font-family: Arial, sans-serif;">
    <tr style="background-color: #f0f0f0;" >
      <th style="padding: 8px; border: 1px solid #ccc;">Hole</th>
      {% for hole in round.hole_set.all %}
        <td style="padding: 8px; border: 1px solid #ccc; font-weight: bolder;">{{hole.hole}}</td>
      {% endfor %}
    </tr>
    <tr style="background-color: #f7f7f7;">
      <th style="padding: 8px; border: 1px solid #ccc;">Par</th>
      {% for hole in round.hole_set.all %}
        <td style="padding: 8px; border: 1px solid #ccc;">{{hole.par}}</td>
      {% endfor %}
    </tr>
    <tr style="background-color: #ffffff;">
      <th style="padding: 8px; border: 1px solid #ccc;">Score</th>
      {% for hole in round.hole_set.all %}
        <td style="padding: 8px; border: 1px solid #ccc;">{{hole.score}}</td>
      {% endfor %}
    </tr>
  </table>
  <br>
    <a href = "{% url 'scorecard:index' %}">Home</a>
</body>
</html>